node_modules
npm-debug.log
dist
*.db
*.db-shm
*.db-wal
.env
.env.local
.git
.gitignore
README.md
.vscode
.idea
coverage
*.log
packages
backend/uploads/*
!backend/uploads/.gitkeep
backend/dist
packages/*/dist

